.cartPricesCont{
    display: flex; 
    justify-content: center;
    background-color:"#F6F6F4";
    padding:"50px";
    margin-bottom: 40px;
}

.CardPriceContainer {
    border: solid 1px gray;
    width: 15%;
    padding: 30px;
    margin-top: 100px;
    background-color: rgb(247, 250, 253);
   
}

.CardPriceContainerRecommend {
    border: solid 1px gray;
    width: 15%;
    padding: 30px;
    margin-top: 80px;
 
    -webkit-box-shadow: 1px 10px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 10px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 10px 20px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    text-align: center;
    background: rgb(255,239,212);
    background: linear-gradient(180deg, rgba(255,239,212,1) 0%, rgba(255,244,138,0.3982843137254902) 10%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 35%, rgba(242,242,255,1) 61%, rgba(255,255,255,1) 100%);}
.CartPricesButton {
    padding: 10px;
    width: 100%;
    max-width: 200px;
    align-items: center;
    margin-left: 15px;
    border-radius: 30px;
    font-weight: bold;
}

.CartPricesButton:hover {
    background-color: yellow;

}

@media (max-width: 1000px) {
    .cartPricesCont{
        display: grid; 
       grid-template-columns: 1fr 1fr;
       justify-items: center;
      
     
    }
    .CardPriceContainer {
        border: solid 1px gray;
        width: 40%;
        padding: 30px;
        margin-top: 100px;
        background-color: rgb(247, 250, 253);
    }
    .CardPriceContainerRecommend {
        border: solid 1px gray;
        width: 40%;
        padding: 30px;
        margin-top: 100px;
        background-color: rgb(247, 250, 253);
    }
}

@media (max-width: 785px) {
 
    .CardPriceContainer {
       display: none;
    }
    .CardPriceContainerRecommend {
        display: none;
    }
    

      
}